@model IEnumerable<_3DP.Areas.Admin.Models.Entities.Category>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped" id="tbCategories">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CatCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CatName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ParentCatCode)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentCatCode)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CatID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.CatID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CatID })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

